
html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

footer{
    background-color:brown;
}


.container {
  margin: 0 auto;
  min-width: 320px; }

.row {
  overflow: auto; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  float: left; }

html, body {
  font-size: 16px; }
  @media screen and (min-width: 320px) {
    html, body {
      font-size: calc(16px + 8 * ((100vw - 320px) / 880)); } }
  @media screen and (min-width: 1200px) {
    html, body {
      font-size: 24px; } }

html, body {
  font-family: Helvetica, Arial, sans-serif; }

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.menu li {
    display: inline-block;
    padding: 0.625rem; }
  ul.menu a {
    text-decoration: none; }
    ul.menu a:hover {
      text-decoration: underline; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  padding-left: 2%;
  padding-right: 2%; }

.col-xs-1 {
  width: 4.33333%; }

.col-xs-2 {
  width: 12.66667%; }

.col-xs-3 {
  width: 21%; }

.col-xs-4 {
  width: 29.33333%; }

.col-xs-5 {
  width: 37.66667%; }

.col-xs-6 {
  width: 46%; }

.col-xs-7 {
  width: 54.33333%; }

.col-xs-8 {
  width: 62.66667%; }

.col-xs-9 {
  width: 71%; }

.col-xs-10 {
  width: 79.33333%; }

.col-xs-11 {
  width: 87.66667%; }

.col-xs-12 {
  width: 96%; }

@media (min-width: 768px) {
  .container {
    width: 748px; }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    padding-left: 1.30208%;
    padding-right: 1.30208%; }
  .col-sm-1 {
    width: 5.72917%; }
  .col-sm-2 {
    width: 14.0625%; }
  .col-sm-3 {
    width: 22.39583%; }
  .col-sm-4 {
    width: 30.72917%; }
  .col-sm-5 {
    width: 39.0625%; }
  .col-sm-6 {
    width: 47.39583%; }
  .col-sm-7 {
    width: 55.72917%; }
  .col-sm-8 {
    width: 64.0625%; }
  .col-sm-9 {
    width: 72.39583%; }
  .col-sm-10 {
    width: 80.72917%; }
  .col-sm-11 {
    width: 89.0625%; }
  .col-sm-12 {
    width: 97.39583%; } }

@media (min-width: 980px) {
  .container {
    width: 960px; }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding-left: 1.02041%;
    padding-right: 1.02041%; }
  .col-md-1 {
    width: 6.29252%; }
  .col-md-2 {
    width: 14.62585%; }
  .col-md-3 {
    width: 22.95918%; }
  .col-md-4 {
    width: 31.29252%; }
  .col-md-5 {
    width: 39.62585%; }
  .col-md-6 {
    width: 47.95918%; }
  .col-md-7 {
    width: 56.29252%; }
  .col-md-8 {
    width: 64.62585%; }
  .col-md-9 {
    width: 72.95918%; }
  .col-md-10 {
    width: 81.29252%; }
  .col-md-11 {
    width: 89.62585%; }
  .col-md-12 {
    width: 97.95918%; } }

@media (min-width: 1200px) {
  .container {
    width: 1180px; }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
  .col-lg-1 {
    width: 6.66667%; }
  .col-lg-2 {
    width: 15%; }
  .col-lg-3 {
    width: 23.33333%; }
  .col-lg-4 {
    width: 31.66667%; }
  .col-lg-5 {
    width: 40%; }
  .col-lg-6 {
    width: 48.33333%; }
  .col-lg-7 {
    width: 56.66667%; }
  .col-lg-8 {
    width: 65%; }
  .col-lg-9 {
    width: 73.33333%; }
  .col-lg-10 {
    width: 81.66667%; }
  .col-lg-11 {
    width: 90%; }
  .col-lg-12 {
    width: 98.33333%; } }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

.offset-12 {
  margin-left: 100%; }

a{
    text-decoration:none;
    color:black;
}

a:hover{
    text-decoration:underline;
}

