// Create a reusable mixin called menu for creating nav menus

@mixin menu($menu-class, $menu-id: null, $li-display-style: inline-block, $li-padding: null, $menu-colours: null) {
    ul.#{$menu-class} {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: $li-display-style;
            padding: $li-padding;
        }

        a {
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
