// colour variables
$colour-dark-green: #006341;
$colour-darker-green: #003b27;
$colour-black: #000;
$colour-white: #fff;

// fonts
$font-min-size: 16px;
$font-max-size: 24px;
$font-root-size: $font-min-size;
$font-family-site: Helvetica, Arial, sans-serif;

// Menu
// Create a map variable for menu colours
$menu-colours: (
    li: (color:null,background-color:null, border-color:null),
    li-hover: (color: $colour-white, background-color: $colour-black, border-color:null)
    );

// Grid
$grid-columns: 12;
$grid-gutter: 20px;
$grid-min-width: 320px;
$grid-max-width: 1200px;

// Grid sizes
$grid-size-1: xs;
$grid-size-2: sm;
$grid-size-3: md;
$grid-size-4: lg;

// Breakpoints
$grid-breakpoint-1: 500px;
$grid-breakpoint-2: 768px;
$grid-breakpoint-3: 980px;
$grid-breakpoint-4: $grid-max-width;

